@using BSEF18A038_BlogApplication.Models
@model Post
@{
    Layout = "_Layout";
}
<link href="~/css/site.css" rel="stylesheet" />

<div class="container d-flex justify-content-center">
    <div class="col-md-8 col-md-offset-2 mt-5 w-50">
        <h3>Create post</h3>
        <form method="post" asp-controller="Main" asp-action="CreateNewPost">

            <div class="form-group">
                <label class="col-form-label" asp-for="Title"></label>
                <input class="form-control" type="text" name="title" asp-for="Title" />
                <span asp-validation-for="Title"></span><br>
            </div>

            <div class="form-group">
                <label class="col-form-label" asp-for="Content"></label><br>
                <textarea rows="7" class="form-control" asp-for="Content"></textarea>
                <span asp-validation-for="Content"></span><br><br>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Create
                </button>
                <button class="btn btn-default" asp-controller="Main" asp-action="Index">
                    Cancel
                </button>
            </div>

        </form>
    </div>

</div>