@using BSEF18A038_BlogApplication.Models
@model User
@{
    Layout = "_Layout";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="container d-flex justify-content-center">
    <div class="container w-75 bg-light">


        <div class="pt-3" style="display:inline-flex">
            <div class="container">
                <img class="rounded-circle" src="~/Images/@Model.pictureFileName" style="height:110px;width:110px" />
            </div>
            <div class="container">
                <h3 style="font-weight:bold">@Model.Username</h3>
            </div>
        </div>

        <h3>Profile</h3>
        <hr style="margin:1px; border-top:2px solid silver">
        <form method="post" enctype="multipart/form-data" asp-controller="Main" asp-action="UpdateProfile">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="text-left">
                <label class="col-form-label" asp-for="Username"></label><br>
                <input id="profile_name_text" class="form-control" asp-for="Username">
                <span asp-validation-for="Username"></span><br>
            </div>
            <div class="text-left">
                <label class="col-form-label" asp-for="Email"></label><br>
                <input id="profile_email_text" class="form-control" type="email" asp-for="Email" readonly>
                <span asp-validation-for="Email"></span><br>
            </div>
            <div class="text-left">
                <label class="col-form-label" for="profile_image">Image</label>
                <label class="col-form-label">Change:</label>
                <input class="form-control-file" type="file" accept="image/*" name="profile_image" id="profile_image" /><br><br>

            </div>

            <div class="text-left">
                <label class="col-form-label" asp-for="Password">Old Password</label><br>
                <input id="profile_old_password_text" class="form-control" type="password" asp-for="Password">
                <span asp-validation-for="Password"></span><br><br>
            </div>

            <div class="text-left">
                <label class="col-form-label" asp-for="Password">New Password</label><br>
                <input id="profile_new_password_text" class="form-control" type="password" name="newPassword">
                <span asp-validation-for="Password "></span><br><br>
            </div>
            <input id="update_button" class="btn btn-primary" type="submit" value="Update" />
            <button class="btn btn-default" asp-controller="Main" asp-action="Index">Cancel</button>

        </form>
    </div>

</div>