@{
    Layout = "Login_Register_Layout";
}
<div class="container">
    <h1 style="text-align: center;"><span style="font-size: x-large;"><u>About</u></span></h1>
    <h3 style="text-align: center;"><span style="font-weight: normal;"><span style="font-size: large;">Hello Friends Welcome To Blog Application</span></span></h3>
    <p style="text-align: center;"><br /><p style="font-size: 18px;">Blog Application is a Professional Social Platform. Here we will provide you only interesting content, which you will like very much.<br /><p style="text-align: center;"><br /><p style="font-size: 18px;">We're dedicated to providing you the best of Social, with a focus on dependability and . Our About-us page was created with the help of the <a href="https://techbuddies.in/">About-us Generator</a><br /><br />
    <p style="font-size: 18px;">We're working to turn our passion for Social into a booming online website. We hope you enjoy our Social as much as we enjoy offering them to you.</p>
    <div style="text-align: center;"><h3>Thanks For Visiting Our Site</h3></div>
</div>
